<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blinkit Sales Data Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <nav class="bg-gradient-to-r from-purple-600 to-indigo-600 p-6 shadow-lg">
        <div class="container mx-auto">
            <ul class="flex justify-center space-x-6">
                <li>
                    <a href="/"
                        class="text-white font-semibold text-lg hover:text-indigo-200 transition duration-200 ease-in-out">Home</a>
                </li>
                <li>
                    <a href="/about"
                        class="text-white font-semibold text-lg hover:text-indigo-200 transition duration-200 ease-in-out">About</a>
                </li>
                <li>
                    <a href="/sales-trends"
                        class="text-white font-semibold text-lg hover:text-indigo-200 transition duration-200 ease-in-out">Sales
                        Trends</a>
                </li>
                <li>
                    <a href="/top-selling-items"
                        class="text-white font-semibold text-lg hover:text-indigo-200 transition duration-200 ease-in-out">Top
                        Selling Items</a>
                </li>
               
                <li>
                    <a href="/sales-by-location"
                        class="text-white font-semibold text-lg hover:text-indigo-200 transition duration-200 ease-in-out">Sales
                        by Location</a>
                </li>
                <li>
                    <a href="/outlet-item-analysis"
                        class="text-white font-semibold text-lg hover:text-indigo-200 transition duration-200 ease-in-out">Outlet
                        & Items</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mx-auto p-8">
        {% block content %}{% endblock %}
    </div>
</body>

</html>